{
  "extends": "@istanbuljs/nyc-config-typescript",
  "excludeAfterRemap": true,
  "check-coverage": true,
  "reporter": ["lcov", "json"],
  "report-dir": "./coverage/cypress",
  "include": ["src/**"],
  "exclude": [
    "node_modules/**",
    "**/.next/**",
    "**src/app/",
    "**src/interfaces",
    "**src/data-contracts",
    "**src/middleware.ts"
  ],
  "all": true
}
